# shared with .gitignore
# different than .gitignore
# https://docs.npmjs.com/cli/v7/using-npm/developers#keeping-files-out-of-your-package
test/
docs/
examples/
.github/
.gitignore
.gitpod.DockerFile
.gitpod.yml
