name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 22.x
      uses: actions/setup-node@v1.4.4
      with:
        node-version: 22.x
    - run: npm i && npm run lint
  
  PrepareSupportedVersions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 22.x
      uses: actions/setup-node@v1.4.4
      with:
        node-version: 22.x
    - id: set-matrix
      run: |
        node -e "
          const testedVersions = require('./lib/version').testedVersions;
          console.log('matrix='+JSON.stringify({'include': testedVersions.map(mcVersion => ({mcVersion}))}))
        " >> $GITHUB_OUTPUT

  MinecraftServer:
    needs: PrepareSupportedVersions
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.PrepareSupportedVersions.outputs.matrix)}}
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 22.x
        uses: actions/setup-node@v1.4.4
        with:
          node-version: 22.x
      - name: Setup Java JDK
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 21
          java-package: jre
      - name: Install Dependencies
        run: npm install
      - run: cd node_modules && cd minecraft-data && mv minecraft-data minecraft-data-old && git clone -b pc-1_21_10 https://github.com/PrismarineJS/minecraft-data --depth 1 && node bin/generate_data.js
      - run: curl -o node_modules/protodef/src/serializer.js https://raw.githubusercontent.com/extremeheat/node-protodef/refs/heads/dlog/src/serializer.js && curl -o node_modules/protodef/src/compiler.js https://raw.githubusercontent.com/extremeheat/node-protodef/refs/heads/dlog/src/compiler.js

      - name: Start Tests
        run: npm run mocha_test -- -g ${{ matrix.mcVersion }}v
